.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title {
    position: relative;
}
.contact-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section {
    display: flex;
    gap: 150px;
}
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1 {
    font-size: 80px;
    font-weight: 500;
    background: linear-gradient(270deg, var(--orange-color) 80%, var(--purple-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p {
    max-width: 550px;
    color: var(--lt-grey);
}