:root {
    --background-color: #161513;
    --white-color: white;
    --orange-color: #DA7C25;
    --purple-color: rgb(243, 10, 228);
    --lt-grey: #D8D8D8;
    --dark-grey: #32323c;
    --mid-grey: #A0A0A0;
    --dark-purple: #1F0016;
    --transparent-purple: rgba(31, 0, 22, .75);
}

[data-theme='dark'] {
    --background-color: #fff;
    --white-color: pink;
}

* {
    background: var(--background-color);
}