* {
    margin: 0;
    padding: 0;
    --background-color: #161513;
    --white-color: white;
    --orange-color: #DA7C25;
    --purple-color: rgb(243, 10, 228);
    /* --purple-color: #B923E1; */
    --lt-grey: #D8D8D8;
    --dark-grey: #32323c;
    --mid-grey: #A0A0A0;
    --dark-purple: #1F0016;
}
body {
    font-family: "Outfit", sans-serif;
    height: 100vh;
    background: var(--background-color);
    color: var(--white-color);
}
/* .to-top {
    background: var(--dark-purple);
    color: var(--mid-grey);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position:fixed;
} */